/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*, *::before, *::after {
    box-sizing: border-box;
  }
  
  * {
    margin: 0;
  }
  
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  input, button, textarea, select {
    font: inherit;
  }
  
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
 
  body {
    height: 100vh;
    background-color: #543b3d;
    color: hsl(285, 40%, 98%);
    display: flex;
    justify-content: center;
  }

  h1 {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-size: 3rem;
    line-height: 1.1;
    margin-bottom: 32px;
  }

  h2 {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-size: 1.5rem;
    line-height: 2;
    text-align: center;
  }

  p {
    font-family: "Lato", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.2rem;
  }

  .container {
    min-width: 600px;
    margin: 10rem auto;
    padding: 2rem 0;
    text-align: center;
    border-radius: 16px;
    background-color: #4D1613;
    box-shadow: 3px 3px 8px hsl(23, 84%, 7%);
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  ul {
    width: fit-content;
    margin: 0 auto;
    font-size: 1.2rem;
    font-family: "Lato", serif;
    margin-bottom: 16px;
    text-align: left;
  }

  .buttons {
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-bottom: 2rem;
  }
  
  button {
    font-family: "Lato", serif;
    font-weight: bold;
    margin-top: 32px;
    border: none;
    background-color: #734246;
    color: #fbfcf8;
    padding: 8px 32px;
    border-radius: 50px;
    width: 150px;
    text-transform: uppercase;
    text-align: center;
    box-shadow: 3px 3px 8px hsl(3, 60%, 10%);
    cursor: pointer;
  }

  button:hover {
    background-color: hsl(24, 100%, 65%);
    color: hsl(240deg 100% 20%);
  }

  .results {
    font-family: "Lato", serif;
    font-size: 1.2rem;
  }

  @property --gradient-angle {
    syntax: "<angle>";
    initial-value: 0turn;
    inherits: false;
  }
  
  .container {
    animation: 2s gradient-angle infinite linear;
    border: 2px solid transparent;
    background-image: linear-gradient(hsl(355, 27%, 20%)),
      conic-gradient(
        from var(--gradient-angle),
        hsl(3deg 60% 19%) 0%,
        hsl(2deg 57% 20%) 8%,
        hsl(2deg 55% 22%) 17%,
        hsl(1deg 52% 23%) 25%,
        hsl(0deg 49% 25%) 33%,
        hsl(0deg 47% 26%) 42%,
        hsl(359deg 44% 27%) 50%,
        hsl(358deg 41% 29%) 58%,
        hsl(358deg 38% 30%) 67%,
        hsl(358deg 35% 31%) 75%,
        hsl(357deg 33% 33%) 83%,
        hsl(355deg 30% 34%) 92%,
        hsl(355deg 27% 35%) 100%
      );
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;
  }
  
  @keyframes gradient-angle {
    to {
      --gradient-angle: 1turn;
    }
  }